data/*.csv
*.csv

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

venv/
.venv/
env/
ENV/

.vscode/
.idea/
*.swp
.DS_Store

.ipynb_checkpoints

predictions.csv
*.npy
*.pkl

report/*.aux
report/*.log
report/*.out
report/*.synctex.gz
